# ======================
# Flutter / Dart
# ======================
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# ======================
# Android
# ======================
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/key.properties
android/keystore/
*.jks
*.keystore

# ======================
# iOS / macOS
# ======================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Pods/

# ======================
# IDEs
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store
